
zsh/.zdirs
zsh/.zcompdump
lazygit/state.yml
zsh/.zim
zsh/.zcompdump.zwc
zsh/.zhist*

zsh/.zcompcache

awesome/canvas.png
awesome/small.png
awesome/wallpaper.jpg
awesome/wallpaper.png
awesome/wp.jpg
keepassxc/Passwords.kdbx
b/changemac
b/macaddress
b/changemac
awesome/wp.png
awesome/wp_.png
mpd/database
mpd/playlists
ranger/colorschemes/__pycache__
ranger/plugins/__pycache__
mpv/_cache