
zsh/.zdirs
zsh/.zcompdump
lazygit/state.yml
zsh/.zim
zsh/.zcompdump.zwc
zsh/.zhist*

zsh/.zcompcache

keepassxc/Passwords.kdbx
b/changemac
b/macaddress
b/changemac
awesome/wp.png
awesome/wp_.png
mpd/database
mpd/playlists
ranger/colorschemes/__pycache__
ranger/plugins/__pycache__
mpv/_cache

ncmpcpp
fcitx5/conf/cached_layouts
awesome/*.png
awesome/*.jpg
